<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>unitconverter</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08DC9681-0D27-4CD5-AE87-21D9E205D7DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>683D98FF-426B-4070-875A-9104C7383532</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste {query}</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ts123</string>
	<key>description</key>
	<string>A unit converter using GNU Units</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UnitConverter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uc</string>
				<key>runningsubtext</key>
				<string>calculating ...</string>
				<key>script</key>
				<string>import workflow
workflow.main('''{query}''')</string>
				<key>subtext</key>
				<string>uc from-number from-unit to-unit to-unit ...</string>
				<key>title</key>
				<string>Unit Converter</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>08DC9681-0D27-4CD5-AE87-21D9E205D7DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>683D98FF-426B-4070-875A-9104C7383532</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08DC9681-0D27-4CD5-AE87-21D9E205D7DC</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>683D98FF-426B-4070-875A-9104C7383532</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ts123/UnitConverter.alfredworkflow</string>
</dict>
</plist>
